/* general */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eeeeee;
  /*
  background-image: url("../images/bg-form.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  */
}

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0px;
}

/* navbar */

ul > li {
  margin-right: 40pt;
}

ul > li:last-child {
  margin-right: 0;
}


.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  color: #212121;

  background-color: #e0e0e0;
  border-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-header h2 {
  margin-top: 15px;
}

.brand-logo {
  width: 50px;
}

.brand-name {
  font-family: 'Exo', sans-serif;
  /*letter-spacing: 3px;*/
  font-size: 32px;
  margin-left: 10px;
  text-decoration: none !important;
  color: #212121 !important;
}

.navbar-item a {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /*letter-spacing: 3px;*/
  margin-top: 15px;

  padding-left: 0px;
  padding-right: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #212121;;
}

.navbar-nav>li>a {
  padding-left: 0px;
  padding-right: 0px;
}

/* draw d3 chart */

.axis path, .axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: 'Arial';
  font-size: 13px;
}

.tick {
  stroke-dasharray: 1, 2;
}

.bar {
  fill: FireBrick;
}

/* form */

.logo {
	margin-top: 120px;
	height: 150px;
	width: 150px;
	background-size: 150px 150px;
	background-image: url("/images/logo.png");
	border-radius: 30px;
	border: solid #bdbdbd 2px;
	background-color: #f5f5f5;
}

.center  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
	font-family: 'Play', sans-serif;
	font-weight: 700;
}

.form-table {
	font-family: 'Play', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #616161;

	width: 40%;
	background-color: #ffffff;
	margin-top: 15px;
	border-radius: 20px;
	border: solid 1px #bdbdbd;
	margin-bottom: 40px;
}

.inner-contents {
	padding: 20px;
}

#file {
	font-family: 'Play', sans-serif !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	color: #616161 !important;
}


#separator {
  height: 8px;
  background-color: #e0e0e0;
}

#footer {
  height: 50px;
  background-color: #212121;
}

#footer-text {
  font-family: 'Exo', sans-serif;
  color: #ffffff;
}