/*general*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul > li {
  margin-right: 40pt;
}

ul > li:last-child {
  margin-right: 0;
}

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.hover-text:hover {
  color: #e4b363 !important;
}

/* navbar */

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  color: #212121;

  background-color: #e0e0e0;
  border-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-header h2 {
  margin-top: 15px;
}

.brand-logo {
  width: 50px;
}

.brand-name {
  font-family: 'Exo', sans-serif;
  letter-spacing: 3px;
  font-size: 32px;
  margin-left: 10px;
}

.navbar-item a {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  margin-top: 15px;

  padding-left: 0px;
  padding-right: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #212121;;
}

.navbar-nav>li>a {
  padding-left: 0px;
  padding-right: 0px;
}

/* sections */

.section {
  width: 100%;
  height: 100%;
  padding-top: 250px;

  font-family: 'Lato', sans-serif;
}

.section-divider {
  width: 100%;
  height: 75px;
  background-color: #ecf0f1;

}

/* about */

#about {
  background-image: url("/images/background-about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  color: white;
}

.tag-line {
  margin-top: 0px;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 50px;
}

.tag-info {
  margin-top: 50px;
  font-size: 40px;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 50px;
  letter-spacing: 3px;
}

.button {
  background: #E0DFD5;
  background: transparent;
  border: solid #ffffff 2px;
  border-radius: 8px;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 3.66px;
  line-height: 27px;
  font-weight: 500;
  letter-spacing: 3px;

  padding: 30px 40px;

  /*display: block;*/
  margin: 0 auto;
  margin-top: 80px;

  color: #ffffff !important;
  text-decoration: none !important;

}

.button:hover {
  background: #ffffff;
  opacity: 0.7;
  color: #212121 !important;
  text-decoration: none !important;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*getting started*/
#getting-started {
  background-image: url("/images/background-getting-started-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 150px;

  color: #ffffff;
}

#getting-started .icons {
  margin-right: 15px;
}

#getting-started .title {
  margin-top: 0px;
  letter-spacing: 3px;
  font-size: 50px;
  padding-bottom: 5px;
}

.half-section-container {
  margin-top: 30px;
}

#getting-started .half-section {
  width: 50%;
}

#getting-started .half-section-title {
  letter-spacing: 3px;
}

.static-section {

}
